@keyframes colorChange {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}
@keyframes circle-zoom-in{
  0%{
    opacity: 0;
    transform: rotate(45deg)
  }
  100% {
    opacity: 0.9;
    transform: rotate(360deg)
  }
}
